on boot
    mount none /sys/class/power_supply/bms/cycle_count /sys/class/power_supply/battery/cycle_count bind
    
on property:vendor.post_boot.parsed=1

      # Set permissions for FPS and battery temp access [ cc: tanvirr007 ]
      chown system graphics /sys/class/drm/sde-crtc-0/measured_fps
      chmod 0660 /sys/class/drm/sde-crtc-0/measured_fps
  
      chown system system /sys/class/power_supply/battery/temp
      chmod 0660 /sys/class/power_supply/battery/temp
